/* AdminPage.css */
.admin-container {
  padding: 20px;
}

.admin-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.add-button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.admin-controls {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.admin-controls input,
.admin-controls select {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.admin-actions button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-actions button:hover {
  background-color: #f1f1f1;
}
