.custom-slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Ограничиваем максимальную ширину слайдера */
  margin: 0 auto; /* Центрируем слайдер по горизонтали */
  overflow: hidden; /* Добавляем, чтобы изображения не выходили за пределы контейнера */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта плавающего слайдера */
  border-radius: 10px; /* Скругленные углы */
}

.slide-switchers {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.slide-switcher {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slide-switcher.active {
  background-color: #717171;
}

.slick-prev, .slick-next {
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.slick-prev:hover, .slick-next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: #fff;
}
