.menus {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background-color: #262830;
  border-radius: 40px;
  padding: 10px 20px;
}

.menus a {
  color: #fff;
  margin: 5px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.menus a:hover {
  background-color: #1d1d21;
}

.menus a.active {
  background-color: #1d1d21;
  color: #fff;
}

