.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: #ffffff;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 2ch;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .scroll-to-top-button.visible {
    opacity: 1; 
  }
  
  .scroll-to-top-button:hover {
    background-color: #272626;
  }
  