.all-products-container-all {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filter-container-all {
  flex: 1;
  max-width: 200px;
  margin-right: 20px;
}

.category-buttons-all {
  display: flex;
  flex-direction: column;
}

.category-buttons-all button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-buttons-all button:hover {
  background-color: #0056b3;
}

.main-content-all {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.top-filters-all {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.top-filters-all input[type="text"],
.top-filters-all select {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.top-filters-all input[type="text"]::placeholder {
  color: #999;
}

.top-filters-all input[type="text"]:focus,
.top-filters-all select:focus {
  outline: none;
  border-color: #3061ca;
}

.top-filters-all select {
  appearance: none;
}

.top-filters-all select::-ms-expand {
  display: none;
}

.product-list-all {
  display: flex;
  flex-direction: column;
}

.product-card-all {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  text-decoration: none; 
  color: #fff; 
  transition: transform 0.3s;
}

.product-card-all:hover {
  transform: scale(1.1); 
  border: 2px solid #fff;
  border-radius: 20px;
}

.product-card-all::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s;
}

.product-image-container-all {
  width: 540px;
  height: 200px;
  border-radius: 20px;
  margin-right: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-banner-image-all {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details-all {
  position: relative; 
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.product-info-all {
  flex-grow: 1; 
  margin-bottom: 10px;
}

.product-name-all {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-actions-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute; 
  bottom: 10px; 
  right: 10px;
}

.product-price-all {
  margin-bottom: 5px;
  order: 1;
}

.price-all {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.buy-button-all,
.favorite-button-all {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.buy-button-all:hover,
.favorite-button-all:hover {
  background-color: #0056b3;
}

.favorite-button-all {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-button-all img {
  width: 20px;
  height: 20px;
}
