.header {
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo-header {
  font-size: 24px;
  margin: 0px;
}

.menuHead {
  display: flex;
  margin-right: auto;
}

.menuHead a {
  color: white;
  text-decoration: none;
  margin-right: 0px;
  transition: color 0.3s;
}

.menuHead a:hover {
  color: #ddd;
}

.actions-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions-header button {
  background-color: #222;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.actions-header button:hover {
  background-color: #1b1b1b;
}

.actions-header button i {
  font-size: 20px;
}

.actions-header button img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.panel-but-header {
  position: absolute;
  top: 100%;
  width: 130px;
  right: 0;
  align-items: center;
  background-color: #222;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
}

.panel-but-header button {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  align-items: center;
  background-color: #222;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.panel-but-header button:last-child {
  border-bottom: none;
}

.panel-but-header a {
  text-decoration: none;
  color: inherit;
}

.panel-but-header a button {
  text-align: left;
  width: 100%;
  padding: 10px;
}