.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-items-list {
  list-style: none;
  padding: 0;
  text-align: left; /* Align content to the left */
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item-link {
  text-decoration: none;
  color: inherit;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h2 {
  margin: 0 0 10px;
}

.cart-item-details p {
  margin: 5px 0;
}

.price-fav {
  font-size: 16px;
  text-align: left;
}

.original-price-fav {
  text-decoration: line-through;
  color: red;
  display: block;
}

.discounted-price-fav {
  color: green;
  font-weight: bold;
  display: block;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  padding: 5px 10px;
  background-color: #1437a8;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.quantity-controls button:hover {
  background-color: #3498db;
}

.quantity-controls input {
  width: 50px;
  padding: 5px;
  margin: 0 10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.quantity-controls input:focus {
  outline: none;
  border-color: #3498db;
}

button.remove-button-cart {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.remove-button-cart img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

button.remove-button-cart:hover img {
  transform: scale(1.1);
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #1437a8; 
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.checkout-button:hover {
  background-color: #3498db;
}

.message-block-cart, .loading-message {
  width: 100%;
  height: auto; 
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 20px;
  margin: 0 auto;
}

.loader .dot {
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 50%;
  animation: bounce 1s infinite;
}

.loader .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-number {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #1437a8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.page-number:hover {
  background-color: #3498db;
}

.page-number.active {
  background-color: #0056b3;
}
